<div id="navbarMenuHeroB" class="navbar-menu">
    <div class="navbar-end">
        <a class="navbar-item" routerLink="/home">Home</a>
        <a class="navbar-item" routerLink="/cart">Carrinho</a>
        <a class="navbar-item">Meu Perfil</a>
        <span class="navbar-item">
            <a class="button is-primary is-inverted"routerLink="/">
                <span class="icon">
                    <i class="fa fa-power-off"></i>
                </span>
                <span>Sair</span>
            </a>
        </span>
    </div>
</div>