<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="tittle pacifico larger-text">modern web store</h1>

      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <p class="control">
            <input class="input is-large" type="text" placeholder="Usuário">
          </p>
          
          <p class="control">
            <input class="input is-large" type="password" placeholder="Senha">
          </p>
          <p>
            <a class="button is-success is-inverted is-outlined is-large is-fullwidth">Entrar</a>
            <br/><br/>
            <a class="button is-link is-fullwidth">Ainda não sou cadastrado</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>